/****** Activités ***********/
.activites {
    width: 95%;
    margin-block: 50px;
    padding: 30px;
}

.activites-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.activites-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.activites-cards a {
    width: 22%;
}

@media (max-width: 768px) {
    .activites-cards {
        flex-direction: column;
    }

    .activites-cards a {
        width: 90%;
    }
}