/****** Footer ***********/
footer {
    display: flex;
    justify-content: space-between;
    background-color: var(--main-bg-color);
    gap: 30px;
}

footer div {
    width: 30%;
    padding: 20px;
}

footer div .section-subtitle {
    margin: 0;
}

@media (max-width: 768px) {
    footer {
        padding: 30px;
        flex-direction: column;
    }

    footer div {
        padding: 0;
        width: 100%;
    }
}