/****** Footer ***********/
footer {
    display: flex;
    justify-content: space-between;
    background-color: var(--main-bg-color);
}

.footer-div {
    width: 30%;
    padding-inline: 20px;
}


@media (max-width: 768px) {
    footer {
        padding: 0;
        flex-direction: column;
    }

    .footer-div {
        width: 100%;
    }
}