header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

#logo {
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

#logo img {
    width: 50%;
    height: 50%;
}

nav ul
{
    list-style-type: none;
    display: flex;
}

nav li
{
    margin-left: 100px;
}

nav a
{
    font-size: 1.3em;
    color: #181818;
    padding: 15px;
    text-decoration: none;
}

nav a:hover
{
    color: var(--main-color);
    border-top: 3px solid var(--main-color);
}

@media (max-width: 768px) {
    header {
        width: 90%;
        padding: 0;
        flex-direction: column;
        align-items: center;
    }

    #logo {
        justify-content: center;
        margin-block: 25px;
    }

    nav ul {
        width: 100%;
        justify-content: space-between;
    }

    nav li {
        width: 50%;
        margin: 0;
        padding-inline: 20px;
    }

    nav a:hover
    {
        border-top: 0;
        border-bottom: 3px solid var(--main-color);
    }
}