/****** Hebergements ***********/
.hebergements {
    width: 65%;
}

.hebergements-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hebergements-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.hebergements-cards a {
    width: 30%;
}

@media (max-width: 1024px) {
    .hebergements {
        width: 100%;
    }
}

@media (max-width: 768px) {
    .hebergements {
        background-color: white;
    }

    .hebergements-cards a {
        flex-direction: column;
        width: 100%;
    }
}