/****** Recherches et filtres ***********/
#recherches-and-filtres {
    margin-block: 50px;
    gap: 35px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.recherches-and-filtres .section-subtitle {
    margin: 0;
}

.recherches-and-filtres p {
    margin: 0;
}

form {
    display: flex;
    align-items: center;
    width: 400px;
    border: 1px solid var(--main-bg-color);
    border-radius: 15px;
}

.element-formulaire {
    height: 100%;
    padding: 15px;
    font-weight: 700;
    font-size: 18px;
    border-right: 0;
    border-left: 0;
}

form .map-marker {
    background-color: var(--main-bg-color);
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    border: var(--main-bg-color);
}

form input {
    border: 0;
    text-align: center;
}

form button {
    background-color: var(--main-color);
    color: white;
    justify-content: center;
    align-items: center;
    border: var(--main-color);
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    cursor: pointer;
}

form button:hover {
    background-color: blue;
}

form .button-icon {
    display: none;
}

.barre-filtres {
    display: flex;
    align-items: center;
    gap: 15px;
    flex-wrap: wrap;
}

.selection-filtres {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
}

.element-filtres a {
    display: flex;
    align-items: center;
    padding-inline: 15px;
    gap: 10px;
    height: 46px;
    border: 2px solid lightgray;
    border-radius: 25px;
    font-size: 22px;
}

.element-filtres a:hover {
    background-color: var(--filter-bg-color);
}

.element-filtres a h3 {
    font-size: 17px;
}

.icone-filtres {
    width: 22px;
    height: 22px;
    text-align: center;
}

.info {
    display: flex;
    align-items: center;
}

.fa-info {
    color: var(--main-color);
    margin-right: 10px;
    padding-block: 5px;
    padding-inline: 10px;
    border: 1px solid lightgray;
    border-radius: 14px;
}

@media (max-width: 1024px) {
    .element-filtres a h3 {
        font-size: 16px;
    }

    .barre-filtres {
        flex-direction: column;
        align-items: flex-start;
    }
}

@media (max-width: 768px) {
    #recherches-and-filtres {        
        padding-inline: 20px;
    }

    form {
        width: 100%;
    }

    form input {
        width: 100%;
    }

    form button {
        border-radius: 15px;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    }

    form .button-icon {
        display: initial;
    }

    form .button-word {
        display: none;
    }

    .selection-filtres
    {
        width: 100%;
    }

    .element-filtres {
        width: 48%;
    }

    .element-filtres a h3 {
        font-size: 14px;
    }
}