.recherche-and-filtres {
    padding: 20px;
    margin-block: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

form {
    display: flex;
    align-items: center;
    margin-block: 15px;
}

.element-formulaire {
    padding: 15px;
    font-weight: 700;
    font-size: 18px;
    border-width: 1px 0;
    border-color: var(--main-bg-color);
    border-style: solid;
}

form .map-marker {
    background-color: var(--main-bg-color);
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    border: 0;
}

form input {
    /* border: 1px solid var(--main-bg-color); */
    text-align: center;
    width: 160px;
}

form button {
    background-color: var(--main-color);
    color: white;
    justify-content: center;
    align-items: center;
    border: 0;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

form button:hover {
    background-color: blue;
}

form button .icon {
    display: none;
}

.barre-filtres {
    display: flex;
    /* align-items: center; */
    margin-block: 15px;
    gap: 15px;
    flex-wrap: wrap;
}

.selection-filtres {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
}

.element-filtres a {
    display: flex;
    align-items: center;
    padding-inline: 15px;
    height: 46px;
    border: 2px solid lightgray;
    border-radius: 25px;
    font-size: 22px;
}

.element-filtres a:hover {
    background-color: var(--filter-bg-color);
    cursor: default;
}

.element-filtres a h3 {
    font-size: 17px;
    width: 70%;
}

.icone-filtres {
    width: 25%;
    text-align: center;
}

.info {
    display: flex;
    align-items: center;
}

.fa-info {
    color: var(--main-color);
    margin-right: 10px;
    padding-block: 5px;
    padding-inline: 10px;
    border: 1px solid lightgray;
    border-radius: 14px;
}

@media (max-width: 768px) {
    .barre-filtres {
        flex-direction: column;
    }

    .element-filtres {
        width: 48%;
    }

    .element-filtres a h3 {
        font-size: 14px;
    }

    form button {
        border-radius: 15px;
    }

    form button .icon {
        display: initial;
    }

    form button .word {
        display: none;
    }
}